/************************************/
/*****     Info Card Basics     *****/
/*             ******               */

.infoCard{
    background-color: white;
    margin: 15px 0px 20px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgb(153, 153, 153);
    }

.infoCard.small{
    height:140px;
    width: 500px;
}

.infoCard.medium{
    height: 200px;
    width: 600px;
}

.infoCard.large{
    height: 235px;
    width: 800px;
}

/********************************/
/*****     Bits of Info     *****/
/*            *****             */

.info{
    text-align: left;
    font-size: 12pt;
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    color: rgb(59,59,59);
    margin: 0px;
}


.info.floatLeft{
    float: left;   
}

.info.floatRight{
    float: right;   
}

.info.name{
    font-size: 15pt;
}

.info.picture{
    float: right;
}

.info.contact{
    text-align:right;
    font-style: italic;
}
